.news-article {
  position: relative;
}

.news-article-body {
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.news-article-additional-content {
  background-color: whitesmoke;

  @include media-breakpoint-up(lg) {
    width: 50%;
    max-width: 300px;
  }
}

.news-article-main-content {
  flex: 1;
  max-width: 600px;
}

.card-body {
  max-width: 100%;
}

.news-article-img {
  max-width: 100%;
  height: auto;

  @include media-breakpoint-up(lg) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-admin-controls {
  margin-top: $grid-gutter-width;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.btn-admin {
  width: 100%;

  & + & {
    margin-top: $grid-gutter-width/2;
  }
}
