@import "../../../style";

.news-article {
  position: relative;
}

.news-article-link {
  @include media-breakpoint-up(lg) {
    display: flex;
  }
  text-decoration: none;
  color: black;
}

.news-article-additional-content {
  @include media-breakpoint-up(lg) {
    width: 50%;
  }
  max-width: 300px;
  background-color: whitesmoke;
}

.news-article-main-content {
  flex: 1;
  max-width: 600px;
}

.news-article-img {
  max-width: 100%;
  height: auto;

  @include media-breakpoint-up(lg) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
