@import "../../style";

.header-section {
  @extend %section;
  border-bottom: $border-1;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}

.header-section__list {
  @include list-unstyled();
  margin: 0;
}

.header-section_top {
  .row {
    justify-content: space-between;
  }

  .header-section_top-auth {
    text-align: right;
  }
}

.header-section_top__logo {
  font-weight: normal;
}

.header-section_middle {
  h2 {
    text-align: center;
  }
}
