html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  margin-bottom: $footer-height;
}

%section {
  box-shadow: $box-shadow-sm;
  background-color: $white;
}

%section-extended {
  @extend %section;
  border-bottom: $border-1;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}
