html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  margin-bottom: $footer-height;
}

%section {
  box-shadow: $box-shadow-sm;
  background-color: $white;
}

%section-extended {
  @extend %section;
  border-bottom: $border-1;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}

.form-cta {
  .btn {
    width: calc(50% - 10px);

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

.form-control-textarea {
  min-height: 180px;
}
