<app-sidebar></app-sidebar>
<div *ngIf="articles" class="container mt-4">
  <div class="row mb-2">
    <div class="col-12">
      <article *ngFor="let article of articles" class="news-article card mb-4 box-shadow">
        <app-news-listing-item [article]="article"></app-news-listing-item>
      </article>
      <app-news-list-empty *ngIf="articles && !articles.length"></app-news-list-empty>
    </div>
  </div>
  <app-load-more *ngIf="toShowLoadMore" (clicked)="onLoadMoreClick()"></app-load-more>
</div>
<app-spinner *ngIf="!articles"></app-spinner>

