<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="newsForm" (ngSubmit)="onSubmit()" class="form">
        <div class="row">
          <div class="col-12 col-lg-6">

            <app-input label="Heading" forId="news-title">
              <input type="text" class="form-control" id="news-title" name="title" placeholder="Type your value here" formControlName="title">
            </app-input>

            <app-input label="Short description" forId="news-description">
              <input type="text" class="form-control" id="news-description" name="description"
                     placeholder="Type your value here" formControlName="description">
            </app-input>

            <app-input label="Content" forId="news-content">
              <textarea type="text" class="form-control form-control-textarea" id="news-content" name="content"
                        placeholder="Type your value here" formControlName="content"></textarea>
            </app-input>
          </div>

          <div class="col-12 col-lg-6">
<!--            <div class="attach-image">-->
<!--              <div class="image-radios">-->
<!--                <div class="form-check form-check-inline">-->
<!--                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"-->
<!--                         value="option1" [checked]="isImageURL" (click)="switchToImageURL()">-->
<!--                  <label class="form-check-label" for="inlineRadio1">URL</label>-->
<!--                </div>-->
<!--                <div class="form-check form-check-inline">-->
<!--                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"-->
<!--                         value="option2" [checked]="isImageFile" (click)="switchToImageFile()">-->
<!--                  <label class="form-check-label" for="inlineRadio2">File</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="attach-image-data">-->
<!--                <div class="attach-image-data-url" [class.active]="isImageURL">-->

<!--                  <app-input label="Image" forId="news-url-img">-->
<!--                    <input type="text" class="form-control" id="news-url-img" name="urlToImage"-->
<!--                           placeholder="Type your value here" formControlName="urlToImageValue">-->
<!--                  </app-input>-->
<!--                </div>-->
<!--                <div class="attach-image-data-upload" [class.active]="isImageFile">-->

<!--                  <app-input label="Image" forId="image-upload">-->
<!--                    <input type="file" class="form-control form-control-upload" id="image-upload" name="image"-->
<!--                           ng2FileSelect-->
<!--                           placeholder="Type your value here" [uploader]="uploader"-->
<!--                           accept="image/x-png,image/gif,image/jpeg">-->
<!--                  </app-input>-->

<!--                  &lt;!&ndash;                  <button type="button" (click)="uploader.uploadAll()"&ndash;&gt;-->
<!--                  &lt;!&ndash;                          [disabled]="!uploader.getNotUploadedItems().length">&ndash;&gt;-->
<!--                  &lt;!&ndash;                    Upload&ndash;&gt;-->
<!--                  &lt;!&ndash;                  </button>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <app-input label="Image" forId="news-url-img">
              <input type="text" class="form-control" id="news-url-img" name="urlToImage"
                     placeholder="Type your value here" formControlName="urlToImage">
            </app-input>
            <app-input label="Date" forId="news-date">
              <input type="text" class="form-control" id="news-date" name="date"
                     [value]="newsForm.get('publishedAt').value | date: 'medium'"
                     formControlName="amount"
                     placeholder="Type your value here" formControlName="publishedAt" readonly>
            </app-input>

            <app-input label="Author" forId="news-author">
              <input type="text" class="form-control" id="news-author" name="author"
                     placeholder="Type your value here" formControlName="author" readonly>
            </app-input>

            <app-input label="News URL" forId="news-url">
              <input type="text" class="form-control" id="news-url" name="url"
                     placeholder="Type your value here" formControlName="url" readonly>
            </app-input>

            <div class="form-group form-cta">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
