.attach-image {
  position: relative;
}

.image-radios {
  position: absolute;
  top: 0;
  right: 0;
}

.attach-image-data-url,
.attach-image-data-upload {
  display: none;

  &.active {
    display: block;
  }
}

.form-control-upload {
  background: transparent;
  border: transparent;
  padding-left: 0;
}
