<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <form class="form">
        <app-input label="Author" id="news-author" name="author" [value]="authorValue"></app-input>
        <app-input label="Title" id="news-title" name="title" [value]="titleValue"></app-input>
        <app-input label="Description" id="news-description" name="description" [value]="descriptionValue"></app-input>
        <app-input label="News URL" id="news-url" name="url" [value]="urlValue"></app-input>
        <app-input label="News image URL" id="news-url-img" name="urlToImage" [value]="urlToImageValue"></app-input>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
